{% extends 'base.html' %} {% block 'content' %}

<div class="container">
  <h3>Create your Strong Password</h3>
  <div>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <label for="passwordLength">Select Password Length:</label>
        <select id="passwordLength" name="length" required>
            <option value="" disabled selected>Select Length</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select>
        <br>
    
        <label>
            <input type="checkbox" name="lowercase"  checked>
            Lowercase
        </label>
        <br>
    
        <label>
            <input type="checkbox" name="uppercase" >
            Uppercase
        </label>
        <br>
    
        <label>
            <input type="checkbox" name="specialChars" >
            Special Characters
        </label>
        <br>
    
        <label>
            <input type="checkbox" name="numbers" >
            Numbers
        </label>
        <br>
    
        <button type="submit">Generate Password</button>
    </form>
    {% if password %}
    <p>password is <h3 id="yourtext">{{password}}</h3></p>
    <button style="background:green; text-align:center;" onclick="CopyText()">Copy Text</button>
    <div>
        <form action="{% url 'save_password' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{password}}" name="save_password">
            <button type="submit">Save</button>
        </form>
    </div>
    {% endif %}
    <!-- <input style="text-align:center;" type="hidden" value="{{password}}"id="yourtext" > -->
</div>


<script>
    function CopyText() {
        var textElement = document.getElementById('yourtext');
        
        // Create a range and select the text
        var range = document.createRange();
        range.selectNodeContents(textElement);
        
        // Create a selection and add the range to it
        var selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);

        // Copy the selected text
        document.execCommand('copy');
        
        // Clear the selection
        selection.removeAllRanges();

        alert('Text copied to clipboard');
  }
  </script>

{% endblock 'content' %}
