{% extends 'base.html' %}

{% block 'content' %}

{% if passwords %}
    <div class="container d-flex justify-content-center">
        <div style="width: 400px;">
            <h3 >Your Passwords</h3>
            {% for password in passwords %}
                <ul class="password-entry">
                    <li style="color: red; font-weight: 700;" class="px-4"> {{password.password}}</li>
                    <button class="copy-button" onclick="CopyText(this)">Copy Password</button>
                </ul>
            {% endfor %}
        </div>
    </div>
{% else %}
    <h3>You don't have any saved passwords</h3>
{% endif %}

<style>
    /* Add your styles here */
    .password-entry {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        list-style: none;
    }

    li {
        margin-right: 8px; /* Adjust the margin as needed */
    }

    .copy-button {
        background: green;
        color: white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
    }
</style>

<script>
    function CopyText(button) {
        var textElement = button.previousElementSibling;
        var range = document.createRange();
        range.selectNodeContents(textElement);
        var selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
        document.execCommand('copy');
        selection.removeAllRanges();
        alert('Text copied to clipboard');
    }
</script>

{% endblock 'content' %}
